.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 8px 20px;
}

.navContainer span {
  font-size: 1.2em;
  font-weight: bold;
}

.navContainer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}