.main {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.w-0 {
  width: 0;
}
.f-w-0 {
  filter: url(#w-0);
}
.stop1 {
  stop-color: rgb(168 85 247);
}
.stop2 {
  stop-color: rgb(37 99 235);
}
.path-class {
  animation: key01 8s infinite linear;
  stroke-dasharray: 180 800;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}
.cricle-class {
  animation: key01 4s infinite linear;
  stroke-dasharray: 26 54;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}
.svg-class-1 {
  filter: blur(5px);
  opacity: 0.3;
  position: absolute;
  transform: translate(3px, 3px);
}
@keyframes key01 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -403px;
  }
}
